#streamTable {
	margin: 0 auto 0 auto;
    border-color: white;
    border-style: solid;
	position: relative;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	overflow-y: scroll;
    border-radius: 8px;
    border-width: 1px;
    width: 75vw;
    height: 50vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#streamTable::-webkit-scrollbar {
   display: none;
}

#streamLogger {
    padding: 4% 0 0 0;
	width: 100%;
}
