#streamControlSection {
    position: relative;
    display: block;
    justify-content: space-between;
    margin: 2.5vh 2.25vw 0 2.25vw
}

.streamControlButton {
    font-family: 'SF Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.175em;
    padding: 7px;
    width: 75px;
}

.streamReportDiv {
    display: block;
    font-family: 'SF Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%
}

.streamReportLabel {
    display: inline-block;
    color: white;
}

#topicCurrentValue, #streamStatusValue {
    margin-left: 0.5vw;
}

#topicCurrentValue {
    color: limegreen
}

#streamStatusValue {
    color: red
}