.topicInteractionButtons {
    background-color: #161b22;
    color: white;
    font-weight: bolder;
    font-family: 'SF Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px;
    border-radius: 8px;
    font-size: 1.05em;
    padding: 10px;
    margin: 0 0 0 2.25vw;
    transition: 125ms linear;
}

#topicClearer {
    display: none;
}

#topicDisplayer:hover {
    color: #faa356;
}

#topicRefresher:hover {
    color:rgb(0, 110, 255);
}

#topicClearer:hover {
    color: #fa7790
}

#topicList {
    margin: 2.5vh auto 0 auto;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
    width: 70%;
}

.topicListShow {
    display: flex;
}

.topicButton {
    background-color: #161b22;
    color: #ecf2f8;
    border-color: #484b50;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px;
    font-size: 0.875em;
    transition: 125ms linear;
}

#topicErrorButton, #topicErrorButton:hover {
    background-color: #4B2F36;
    color: white;
}

.topicButton:hover, .topicButtonSelected {
    background-color: #cea5fb;
    color: #161b22;
}

.topicButton:active {
    background-color: #6e5985;
}
