#dataPaneFields {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: #0d1117;
    border-color: white;
    border-style: solid;
    top: 0;
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1;
    width: 100%;
}

.dataPaneField {
    text-align: center;
    display: inline-block;
    font-weight: normal;
    text-decoration: underline;
    font-family: 'SF Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    padding: 1vh 0 1vh 0;
    border-width: 1px;
    border-left: 0;
    border-right: 1;
    border-top: 0;
    border-bottom: 0;
    font-size: 1.5em;
}

#DPselectField {
    text-decoration: none;
    width: 3%;
}

#DPkeyField {
    width: 30%
}

#DPvalueField {
    width: 67%;
    border-right: 0;
}