#eventProcessor {
	animation: fadeIn 0.375s linear forwards;
	-webkit-animation: fadeIn 0.375s linear forwards;
	-moz-animation: fadeIn 0.375s linear forwards;
	-o-animation: fadeIn 0.375s linear forwards;
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

#ioSection {
	position: relative;
	margin: auto;
	width: 75vw;
	height: 50vh
}

#savedEventsTopicLabels {
	display: flex;
	color: white;
}

#savedEventsTopicBaseLabel {
	margin: 0 0.375vw 0 0
}

#savedEventsTopicValueLabel {
	color: orange
}

#ioInteractableBtns {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1vh;
}

#ioLeftBtns {
	float: left
}

.eventStorageInteractionBtns {
	position: relative;
	background-color: transparent;
	border-color: transparent;
	border-radius: 8px;
	border-width: 1px;
	font-size: 1.75em;
	margin: 0 1vw 0 0
}

#ioRightBtns {
	float: right
}

#eventList {
	overflow-y: scroll;
	position: relative;
	border-radius: 8px;
	width: 100%;
	max-height:  100%;
	margin: 0 0 2vh 0;
}

.processIOBtn {
	position: relative;
	border-color: #21262d;
	background-color: transparent;
	color: #ecf2f8;
	width: 47.5%;
	padding: 0.905vh 1.25vw 0.905vh 1.25vw;
	border-radius: 8px;
	border-width: 1px;
	font-size: 1em;
	font-weight: bolder;
	transition: 150ms ease-in-out;
}

#processIOExportBtn {
	margin: 0 0 0 2.5%
}

#processIOImportBtn {
	margin: 0 2.5% 0 0
}

#processIOImportBtn:hover {
	background-color: #7ce38b;
}
#processIOImportBtn:active {
	background-color: #549b5e;
}

#processIOExportBtn:hover {
	background-color: #77bdfb;
}

#processIOExportBtn:active {
	background-color: #4f7fa8;
}
