#eventCollector {
	animation: fadeIn 1s linear forwards;
	-webkit-animation: fadeIn 1s linear forwards;
	-moz-animation: fadeIn 1s linear forwards;
	-o-animation: fadeIn 1s linear forwards;
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

#controlPane {
	position: relative;
	margin: 0 auto 2.5vh auto;
	border-style: solid;
	border-color: white;
	padding: 2vh 0 2vh 0;
	width: 75vw;
	border-width: 1px;
	border-radius: 8px;
}

#streamTable, #controlPane {
	position: relative;
}

#pollingLabel {
	color: white
}

#sampleDataBtn {
	opacity: 0;
}