#eventReplayerCore {
    display: none;
    justify-content: space-between;
	position: relative;
	margin: auto;
	border-radius: 8px;
	width: 75vw;
	height: 22vh;
    background-color: #21262d;
}

#eventReplayerForm {
    width: 20%;
    height: 90%;
    margin: auto 0 auto 0.75%;
}

.eventReplayFormFieldLabel {
    font-weight: 500;
    color: white;
}

.eventReplayInputValues {
    margin-bottom: 5%;
}

.eventReplayFormFieldInput {
    position: relative;
    color: white;
    padding: 2.5%;
    border-radius: 8px;
    border-width: 0px;
    background-color: #161b22;
    font-weight: bold;
}

.eventReplayFormFieldBtn {
    background-color: transparent;
    position: relative;
    text-decoration: underline;
    color: #cea5fb;
    font-size: 1.35em;
    border-width: 0;
    margin: 0 0 0 2%;
}

.eventReplayFormFieldBtn:active {
    color: #9477b3
}

#eventReplayerMainBtn {
    position: relative;
    background-color: #faa356;
    border-color: transparent;
    border-width: 1px;
    border-radius: 8px;
    padding: 1.5%;
    font-size: 1.25em;
    transition: 125ms linear;
}

#eventReplayerMainBtn:disabled {
    background-color: #161b22;
}
#eventReplayerMainBtn:hover:not(#eventReplayerMainBtn:disabled) {
    background-color: #f6b57d;
}
#eventReplayerMainBtn:active:not(#eventReplayerMainBtn:disabled) {
    background-color: #f08528;
}
