* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  margin-top: 5vh;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  color: white;
}

#appInterface {
  text-align: center;
  margin: auto;
}

input {
  margin: 1vh auto 0.5vh auto;
  display: block;
  width: 30%;
  height: 3.75vh;
  border-radius: 8px;
  border-width: 1px;
  color: black;
  background-color: white;
  padding: 0 10px 0 10px;
}

input:focus {
  outline: none;
}

#generateButton, #sendButton {
  color: white;
  background-color: green;
}

#appOutputLog {
  margin-top: 5vh;
  height: 20%;
}

p {
  color: white;
  font-family: 'SF Mono', 'Consolas';
  word-wrap:break-word;
}