#appOutputLog {
    border: 1px solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: white;
    text-align: center;
    overflow-y: auto;
    margin: 10vh 18.5vw 0 18.5vw;
    padding: 2vh 0 2vh 0;
}

#outputLog, #outputLogError, #outputLogSuccess1, #outputLogSuccess2 {
    text-align: justify;
    margin: 0 auto 0 auto;
    color: white;
    font-family: 'SF Mono', 'Consolas';
    word-break: break-all;
    overflow-wrap: normal;
    hyphens: none;
    word-wrap: normal;
    width: 960px;
    height: 320px;
}

#outputLogError {
    color: red;
}

#outputLogSuccess1 {
    color: rgb(40, 210, 99)
}
#outputLogSuccess2 {
    color: rgb(40, 210, 190)
}