#eventReplayerConsole {
    position: relative;
    border-radius: 8px;
    width: 73%;
    height: 90%;
    margin: auto 0.75% auto 0;
    background-color: #161b22
}

.eventReplayerConsoleMsgLabel, .eventReplayerConsoleMsgValue {
    white-space: pre-wrap;
    padding: 0.5% 1% 0.5% 1%;
}

.eventReplayerConsoleMsgLabel {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.35em;
}

.eventReplayerConsoleMsgValue {
    text-align: center;
    font-size: 1.15em;
    font-weight: 500;
}

.ERCMfailureLabel {
    color: #b41c12;
}

.ERCMfailedPerfResult {
    color: #ff574b;
    text-align: left;
}

.ERCMfailedLocal {
    color: #ff574b;
}

.ERCMfailedLocalSmallerFont {
    font-size: 1.075em;
}

.ERCMsuccessLabel {
    color: #7ce38b
}

.ERCMsuccessPerfResult {
    color: #7ce38b;
    text-align: left;
}

.ERCMsuccessLocal {
    color: #7ce38b;
}

.ERCMoversized {
    color: rgb(236, 236, 112);
}

.ERCMpending {
    color: white;
    text-decoration: none;
}

#processingIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.requestPendingIcon {
    margin: auto auto auto auto;
    text-align: center;
}