#appNavigator {
    margin: auto auto 1.25vh auto;
    background-image: linear-gradient(to bottom, rgba(21, 32, 43, 1), rgba(21, 32, 43, 0));
}

#appNavChoices {
    display: flex;
    justify-content: space-between;
    margin: auto auto auto auto;
    padding: auto 5vw auto 5vw;
    text-align: center;
    width: 75vw;
}

#appNavBtnHolder {
    margin: 2.5vh 0 2.5vh 0
}

#appExitBtnHolder {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 2.5vh 0 2.5vh 0;
}

.appNavBtn {
    background-color: #89929b;
    display: inline-block;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    font-weight: bolder;
    color: white;
    transition: 120ms ease-in-out linear;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    font-size: 2em;
}

#appNavCollectorBtn {
    margin: auto 0.5vw auto auto;
}

#appNavProcessorBtn {
    margin: auto auto auto 0.5vw;
}

#appNavCollectorBtn:disabled, #appNavProcessorBtn:disabled {
    background-color: #77bdfb;
}

.appExitBtn {
    font-weight: bold;
    color: white;
    border-color: transparent;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    font-size: 1.5em;
    width: 5vw;
}

#appExitOnlyBtn {
    margin: 0 0.5vw 0 0;
    background-color: rgb(149, 2, 2);
}

#appExitOnlyBtn:active {
    background-color: rgb(103, 7, 7);
}

#appExitCloseBtn {
    margin: 0 0 0 0.5vw;
    background-color: rgb(113, 1, 1);
}

#appExitCloseBtn:active {
    background-color: rgb(69, 4, 4);
}
