#appOutputLog {
    border: 1px solid;
    border-color: white;
    text-align: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 8px;
    border-width: 1px;
    margin: 10vh 18.5vw 0 18.5vw;
}


#appOutputLog::-webkit-scrollbar {
    display: none;
}

#outputLogInitial, #outputLogError, #outputLogCompleted, #outputLogSuccess, #outputLogPending {
    text-align: justify;
    color: white;
    font-family: 'SF Mono', 'Consolas';
    word-break: break-all;
    word-wrap: break-word;
    hyphens: none;
    scrollbar-width: none;
    padding: 2vh 1vw 2vh 1vw;
    height: 320px;
}

#outputLogError {
    color: red;
}

#outputLogCompleted {
    color: rgb(40, 210, 99)
}

#outputLogSuccess {
    color: rgb(40, 210, 190)
}

#outputLogPending {
    color: rgb(255, 255, 0)
}