#sortAlgoHolder {
    text-align: center;
    margin: 2vh 0 2vh 0;
}

#toggleButton {
    background-color: #990000;
    color: white;
    font-family: 'SF Mono', 'Consolas';
    font-size: 1em;
    border-color: white;
    border-radius: 8px;
    border-width: 1px;
    width: 360px;
    height: 40px;
    padding: 0 10px 0 10px;
}