#eventProcessor {
	animation: fadeIn 1s linear forwards;
	-webkit-animation: fadeIn 1s linear forwards;
	-moz-animation: fadeIn 1s linear forwards;
	-o-animation: fadeIn 1s linear forwards;
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

#test {
    margin: 0 15vw 0 15vw;
    color: white;
    font-size: 1.25em;
}